.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 120px;
  padding: 0 80px;
  background-color: #fff;

  position: sticky;
  top: 0;

  z-index: 3;
}

.header__menu {
  width: 40%;
  height: 100%;

  display: flex;
  align-items: center;
  gap: 10%;
}

.header__menu .header__menu__dropdown > a {
  font-size: 16px;
  color: black;
  font-weight: 600;
  text-decoration: none;
  padding: 100% 0;
}

.header__menu__dropdown {
  display: inline-block;
  height: 100%;
  padding: 50px 0;
  position: relative;

  border-top: 2px solid transparent;

  transition: ease-in 0.2s;
}

.header__menu__dropdown::after {
  content: "";
  width: 0;
  position: absolute;
  bottom: 100%;
  left: 0;

  background-color: #ff5528;
  z-index: 1;
  height: 2px;

  display: block;
  transition: 0.25s;
}

.header__menu__dropdown:hover::after {
  width: 100%;
}

.header__menu__dropdown .dropdown-content {
  position: absolute;
  top: calc(100%);
  min-width: 200px;

  transition: ease 500ms;

  display: none;

  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.header__menu__dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dropdown-content a {
  text-decoration: none;
  font-weight: 300;
  color: black;

  padding: 12px 16px;
}

.header__menu__dropdown a:hover {
  color: #ff5528;
}

/* .header__menu__dropdown:hover {
  border-top: 2px solid #ff5528 !important;
} */

.header__menu__dropdown--active {
  border-top: 2px solid #ff5528 !important;
  padding: 50px 0;
}

.header__menu--active {
  color: #ff5528 !important;
  text-decoration: none;
  font-weight: 600;
}

.header__icon {
  border-left: solid 2px #ccc;
}

.header__icon > a > i {
  margin-left: 1rem;
  color: #888;
  font-size: 20px;
}

.header__icon > a > i:hover {
  color: #ff5528;
  transition: linear 0.5s;
}
