.banner {
  height: fit-content;
  background-color: #000;
  position: relative;

  z-index: 1;
}

.banner .banner-bg {
  background-image: url(../../asset/img/main-slider-1-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  opacity: 0.4;

  z-index: -1;
}

.banner .banner-ctn {
  height: 100%;

  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  padding: 20rem 15rem;

  position: relative;
}

.banner-ctn h2 {
  font-size: 100px;
  line-height: 90px;
  color: #fff;
  width: 50%;
  font-family: "Fredoka One", cursive;
}

.banner-ctn p {
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  padding-top: 2rem;
  opacity: 0.6;
}

.banner-ctn .animate-icon {
  position: relative;
}

.banner-ctn .animate-icon button {
  border: none;
  border-radius: 100vh;

  padding: 20px 60px 20px;
  background-color: #ffa415;

  color: #fff;
  font-size: 14px;

  margin-top: 2rem;

  transition: 0.2s linear;
  cursor: pointer;
}

.banner-ctn .animate-icon button:hover {
  background-color: #ff5528;
}

/* .banner-ctn .animate {
  top: 0;
  left: 240px;
  position: absolute;
  -webkit-animation: linear infinite;
  -webkit-animation-name: run;
  -webkit-animation-duration: 2s;
}
@-webkit-keyframes run {
  0% {
    left: 240px;
  }
  50% {
    left: 20%;
  }
  100% {
    left: 240px;
  }
} */
