.brand {
  padding: 5rem 0;

  border-top: 1px solid #ccc;
  height: fit-content;
}

.brand .brand-ctn {
  height: 100%;
}

.brand-ctn {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  gap: 7rem;
}

.brand-ctn .logo {
  width: 145px;
  height: 120px;
  opacity: 0.3;

  transition: all 0.3s linear;

  position: relative;
  cursor: pointer;
}

.brand-ctn .logo:hover {
  opacity: 1;
}

.brand-ctn .logo::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;

  background-image: url("../../asset/img/brand-1-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  z-index: 1;
}

.brand-ctn .logo:nth-child(2):after {
  background-image: url("../../asset/img/brand-1-2.png");
}
.brand-ctn .logo:nth-child(3):after {
  background-image: url("../../asset/img/brand-1-3.png");
}
.brand-ctn .logo:nth-child(4):after {
  background-image: url("../../asset/img/brand-1-4.png");
}
.brand-ctn .logo:nth-child(5):after {
  background-image: url("../../asset/img/brand-1-5.png");
}

@media only screen and (max-width: 1230px) {
  .brand-ctn .logo:nth-child(1):after {
    display: none;
  }

  .brand-ctn .logo:nth-child(5):after {
    display: none;
  }

  .brand-ctn {
    gap: 4rem;
  }
}

@media only screen and (max-width: 980px) {
  .brand-ctn {
    gap: 2rem;
  }
}

@media only screen and (max-width: 850px) {
  .brand-ctn .logo:nth-child(3):after {
    display: none;
  }
  .brand-ctn {
    gap: 0rem;
  }
}

@media only screen and (max-width: 740px) {
  .brand {
    padding: 0;
  }

  .brand-ctn {
    flex-direction: column;
    align-items: center;
  }
}
