.description-ctn {
  width: 100%;
  padding: 0 26rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  margin-bottom: 4rem;
}

.description-ctn__image {
  width: 70%;
}

.description-ctn .description-ctn__image::before {
  content: "";
  height: 220px;
  width: 16px;

  position: absolute;
  top: 0;
  left: -2rem;

  background-color: #ff5528;
  border-radius: 20px;
}
.description-ctn .description-ctn__image .img-big > img {
  border-radius: 10px;
}

.description-ctn .description-ctn__image .img-big .img-small > img {
  border-radius: 10px;
}

.description-ctn .description-ctn__image .img-big {
  position: relative;
}

.description-ctn .description-ctn__image .img-big .img-small {
  position: absolute;
  bottom: 0;
  left: -6rem;
}

.description-ctn .description-ctn__describe {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.description-ctn .description-ctn__describe .welcome-title > h5 {
  opacity: 0.6;
  font-size: 14px;
}

.description-ctn .description-ctn__describe .slogan-title > h1 {
  line-height: 60px;

  font-size: 50px;
  font-family: "Fredoka One", cursive;
  font-weight: 400;
}

.description-ctn .description-ctn__describe .paragraph {
  color: #26cc8c;
}

.description-ctn .description-ctn__describe .content > p {
  opacity: 0.6;
  font-weight: bold;

  line-height: 2rem;
  font-size: 18px;
  color: black;
}

.description-ctn .description-ctn__describe .btn-ctn {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.discover-span {
  background-color: #ffa415;
  padding: 1rem 2rem;
  border-radius: 5rem;
  transition: 0.2s ease;

  cursor: pointer;

  overflow: hidden;

  position: relative;
  z-index: 1;
}

.discover-span::after {
  content: "";
  height: 100%;

  position: absolute;
  left: -35%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;

  background-color: #ff5528;
  z-index: -1;
}

.discover-span p {
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.discover-span:hover::after {
  height: 100%;
  width: 135%;
}

.watch-part {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.play-span {
  background-color: #ff5528;
  padding: 20px 25px;
  border-radius: 50%;
  cursor: pointer;

  transition: 0.2s ease;
}

.play-span:hover {
  background-color: #ffa415;
}

.play-span i {
  color: #fff;
}

.watch-video-span p {
  font-weight: 400;
  font-size: 20px;
  font-family: "Fredoka One", cursive;
  color: #000;
}

@media only screen and (max-width: 1440px) {
  .description-ctn {
    padding: 0 8rem 0 14rem;
  }
}

@media only screen and (max-width: 1220px) {
  .description-ctn {
    flex-direction: column;
    align-items: center;
    padding: 0px 4rem;
  }

  .description-ctn .description-ctn__image .img-big > img {
    width: 100%;
  }

  .description-ctn .description-ctn__image .img-big .img-small {
    display: none;
  }

  .description-ctn .description-ctn__describe {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .description-ctn {
    padding: 0px 3rem;
  }

  .description-ctn .description-ctn__describe .btn-ctn {
    align-items: flex-start;
    gap: 1rem;
    flex-direction: column;
  }

  .description-ctn .description-ctn__describe .slogan-title > h1 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 653px) {
  .description-ctn .description-ctn__image .img-big .img-small > img {
    display: none;
  }

  .description-ctn .description-ctn__image::before {
    display: none;
  }
}

@media only screen and (max-width: 425px) {
  .description-ctn .description-ctn__image .img-big > img {
    width: 335px;
  }

  .description-ctn {
    align-items: flex-start;
  }

  .description-ctn .description-ctn__describe {
    width: 100%;
  }
}

@media only screen and (max-width: 375px) {
  .description-ctn .description-ctn__image .img-big > img {
    width: 300px;
  }
}

@media only screen and (max-width: 320px) {
  .description-ctn .description-ctn__image .img-big > img {
    width: 225px;
  }
}
