.feature-one {
  position: relative;
}

.feature-one__container {
  position: relative;
  z-index: 10;
  max-width: 1200px;
  left: 50%;
  transform: translate(-50%, 50%);
  padding-left: 15px;
  padding-right: 15px;
}

.feature-one__container .feature-one__wrapper {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
}

.feature-one__container .feature-one__single {
  position: relative;
  display: flex;
  padding: 60px 60px 52px;
  color: white;
}

.feature-one__container .feature-one__single:hover img {
  transform: scale(0.9);
}

.feature-one__container .feature-one__single:hover .feature-one__btn {
  background-color: white;
  color: black;
}

.feature-one__container .feature-one__single:first-of-type {
  background-color: #ff5528;
}

.feature-one__container .feature-one__single:last-of-type {
  background-color: #ffa415;
}

.feature-one__container .feature-one__single .feature-one__icon img {
  width: 94px;
  height: 94px;
  object-fit: cover;
  image-resolution: from-image;
  transition: all 0.5s ease;
}

.feature-one__container .feature-one__single .feature-one__content {
  margin-left: 35px;
}

.feature-one__container .feature-one__single .feature-one__content h4 {
  font-size: 24px;
  font-family: "Fredoka One", cursive;
  font-weight: 400;
  line-height: 34px;
  margin-bottom: 13px;
}

.feature-one__container .feature-one__single .feature-one__content p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}

.feature-one__container .feature-one__single .feature-one__btn {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 30px 0;
  border-top-left-radius: 8px;
  background-color: black;
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  line-height: 34px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: all 500ms ease;
}

@media screen and (max-width: 1180px) {
  .feature-one__container {
    max-width: 980px;
  }
}

@media only screen and (max-width: 992px) {
  .feature-one__container {
    transform: translate(-50%, 20%);
    max-width: 710px;
  }
  .feature-one__container .feature-one__wrapper {
    flex-direction: column;
    gap: 20px;
  }
}

@media only screen and (max-width: 769px) {
  .feature-one__container .feature-one__single {
    flex-direction: column;
  }

  .feature-one__container .feature-one__single .feature-one__content {
    margin-left: 0;
  }
}
