.parallax-ctn {
  min-height: 60vh;
  background-image: url(../../asset/img/fundraishing-bg.jpg);
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-ctn::after {
  content: "";
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  opacity: 0.5;

  z-index: 1;
}

.parallax-ctn .parallax-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 2;
}

.parallax-ctn .parallax-inner .inner-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.inner-content h2 {
  color: #fff;
  opacity: 0.7;
  font-size: 24px;
  text-align: center;
}

.inner-content p {
  color: #fff;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  font-family: "Fredoka One", cursive;
  font-weight: 400;
}

.inner-content .btn-parallax {
  background-color: #ffa415;
  padding: 24px 36px;

  color: #fff;
  font-size: 16px;
  font-weight: 600;

  cursor: pointer;
  transition: 400ms ease;

  border: none;
  border-radius: 100vh;

  position: relative;
  z-index: 1;

  overflow: hidden;
}

.inner-content .btn-parallax::after {
  content: "";
  height: 100%;

  position: absolute;
  left: -35%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;

  background-color: #ff5528;
  z-index: -1;
}

.inner-content .btn-parallax:hover:after {
  height: 100%;
  width: 135%;
}

/* .inner-content .btn-parallax:hover {
  background-color: #ff5528;
} */

@media only screen and (max-width: 1330px) {
  .parallax-ctn .parallax-inner .inner-content {
    gap: 1rem;
  }
}

@media only screen and (max-width: 1024px) {
  .inner-content p {
    font-size: 40px;
    line-height: 50px;
  }

  .inner-content .btn-parallax {
    font-size: 14px;
  }
}

@media only screen and (max-width: 740px) {
  .inner-content p {
    line-height: 40px;
  }

  .parallax-ctn .parallax-inner .inner-content {
    gap: 1rem;
  }
}

@media only screen and (max-width: 590px) {
  .inner-content h2 {
    font-size: 14px;
  }

  .inner-content p {
    line-height: 30px;
    font-size: 30px;
  }

  .inner-content .btn-parallax {
    font-size: 12px;
    padding: 20px 26px;
  }
}
