.quality {
  background-image: url(../../asset/img/quality-work--shape.png);
  background-position: bottom;
  /* background-size: cover; */
  background-repeat: no-repeat;
  height: fit-content;
  padding: 5rem 0;

  opacity: 0.9;
}

.quality-button-ctn {
  display: flex;
  gap: 4rem;
  justify-content: center;
}

.quality-button-ctn button {
  padding: 2.5rem 7rem;
  border: none;
  border-radius: 8px;

  background-color: #ff5528;
  color: #fff;

  font-size: 20px;
  font-family: "Fredoka One", cursive;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.quality-button-ctn button::after {
  position: absolute;
  height: 100%;
  z-index: -1;
  content: "";
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;

  background-color: #ff5528;
  border-radius: 8px;

  transition-duration: 0.6s;
}

.quality-button-ctn button:hover::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.quality-button-ctn button:not(:first-child) {
  background-color: #f2f0ec;
  color: #000;

  transition: all 0.6s linear;
}

.quality-button-ctn button:not(:first-child):hover {
  color: #fff;
}

.quality-content {
  display: flex;
  justify-content: center;
  gap: 3rem;

  margin-top: 5rem;
}

.quality-content-left {
  width: 35%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}

.quality-content .content-paragraph {
  display: flex;
  gap: 1.5rem;
}

.quality-content .content-paragraph .paragraph-icon button {
  background-color: #d6f1f7;
  color: #2bb1ce;

  border: none;
  border-radius: 50%;

  width: 3rem;
  height: 3rem;
  cursor: pointer;

  font-size: 20px;

  transition: all 0.3s linear;
}

.quality-content .content-paragraph .paragraph-icon button:hover {
  background-color: #2bb1ce;
  color: #d6f1f7;
}

.quality-content-left .content-paragraph:last-child button {
  background-color: #cef9e8;
  color: #26cc8c;
}

.quality-content-left .content-paragraph:last-child button:hover {
  background-color: #26cc8c;
  color: #cef9e8;
}

.content-paragraph .paragraph-sentences {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content-paragraph .paragraph-sentences h2 {
  line-height: 32px;
  font-size: 20px;
  font-family: "Fredoka One", cursive;
  font-weight: 400;
}
.content-paragraph .paragraph-sentences p {
  font-size: 16px;
  margin: 0;
  line-height: 30px;
}

.quality-content-right {
  width: fit-content;
}

.quality-content-right .content-img {
  border-radius: 8px;
  position: relative;
  z-index: -1;
}

.content-img img {
  border-radius: 8px;
  background-repeat: no-repeat;
  background-position: center;

  position: relative;
  z-index: -1;
}

.quality-content-right .content-img img::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: #000;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1440px) {
  .quality-content {
    gap: 8.5rem;
  }

  .quality-button-ctn {
    gap: 3.4rem;
  }

  .quality-button-ctn button {
    padding: 2.5rem 6.7rem;
  }
}

@media only screen and (max-width: 1236px) {
  .quality-button-ctn {
    flex-direction: column;
    align-items: center;
  }

  .quality-button-ctn button {
    width: 95%;
  }
}

@media only screen and (max-width: 1074px) {
  .quality-content-left {
    gap: 2rem;
    width: 40%;
  }
  .quality-content-right {
    width: 50%;
  }

  .quality-content {
    gap: 2rem;
  }

  .content-img img {
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .quality-content {
    flex-direction: column;
    align-items: center;
  }

  .quality-content-left {
    width: 80%;
  }

  .quality-content-right {
    width: 80%;
  }

  .content-img img {
    width: 100%;
  }

  .quality-button-ctn button {
    width: 80%;
  }
}

@media only screen and (max-width: 460px) {
  .quality-button-ctn button {
    padding: 2.5rem 1.7rem;
  }
}
