.testimonial {
  position: relative;
  display: block;
  z-index: 1;
  width: 100%;
  height: 650px;
  margin-top: 5rem;
}

.testimonial-wrapper {
  position: relative;

  display: flex;

  max-width: 1600px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  z-index: 1;
}

.testimonial-content {
  width: 50%;
  height: 100%;
}

.image-one-world {
  background-image: url('../img/testimonial-one-map.png');
  background-repeat: no-repeat;
  position: absolute;
  top: 205px;
  left: 50%;
  height: 382px;
  width: 790px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0.1;
  z-index: -1;
}

.testimonial-content-left {
  background-color: #26cc8c;
}

.slide-wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 2rem;
}

.testimonial-content-left-title {
  width: 100%;
  text-align: center;
  font-size: 34px;
  margin: 87px 0 2rem 0;
  color: #fff;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.speak {
  width: 80%;
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  color: #fff;
}

.speaker {
  font-size: 20px;
  line-height: 30px;
  font-weight: 1000;
  color: #fff;
}

.swiper-pagination-bullet {
  background-color: white;
}

.testimonial-content-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.testimonial-content-right img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.img-wrapper:before {
  content: '';
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: rgba(255, 166, 0, 0.9);
  transition: all 700ms ease;
  opacity: 0.9;
  z-index: 1;
}

.img-wrapper:after {
  font-family: FontAwesome;
  content: '\e098';
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
  color: white;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  transition: all 700ms;
  transition-delay: 100ms;
  opacity: 0.9;
  z-index: 1;
}

.img-wrapper:hover::before {
  height: 100%;
}

.img-wrapper:hover::after {
  height: 100%;
  font-size: 70px;
}

@media only screen and (max-width: 1440px) {
  .testimonial {
    width: 80%;
    height: 600px;
    margin: 3rem auto 0 auto;
  }
}

@media only screen and (max-width: 1024px) {
  .testimonial {
    height: 450px;
  }
  .testimonial-content-left-title {
    font-size: 24px;
  }
  .avatar {
    width: 50px;
    height: 50px;
  }

  .speak {
    font-size: 18px;
    line-height: normal;
  }

  .speaker {
    font-size: 16px;
  }
  .slide-wrapper {
    gap: 1rem;
    padding-top: 0.5rem;
  }
  .image-one-world {
    width: 409px;
  }
  .img-wrapper:hover::after {
    font-size: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .testimonial {
    height: 307px;
  }
  .testimonial-content-left-title {
    font-size: 20px;
    margin: 1rem 0;
  }
  .avatar {
    width: 45px;
    height: 45px;
  }
  .speak {
    font-size: 16px;
  }
  .speaker {
    font-size: 12px;
  }
  .slide-wrapper {
    gap: 0.5rem;
  }
  .image-one-world {
    width: 409px;
  }
  .img-wrapper:hover::after {
    font-size: 50px;
  }
}

@media only screen and (max-width: 425px) {
  .testimonial {
    height: 768px;
    width: 100%;
  }
  .testimonial-wrapper {
    flex-direction: column;
  }
  .testimonial-content {
    width: 100%;
  }

  .testimonial-content-left-title {
    font-size: 32px;
    margin: 50px 0 15px;
  }
  .avatar {
    width: 50px;
    height: 50px;
  }
  .speak {
    font-size: 20px;
  }
  .speaker {
    font-size: 14px;
  }
  .slide-wrapper {
    gap: 1rem;
  }
  .image-one-world {
    width: 409px;
  }
  .img-wrapper:hover::after {
    font-size: 50px;
  }
}

@media only screen and (max-width: 320px) {
  .speak {
    font-size: 16px;
  }
  .speaker {
    font-size: 12px;
  }
  .testimonial-content-left-title {
    font-size: 28px;
  }
}
