* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  height: 100%;
  width: 100%;
}

.scroll-top-btn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 9999;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  color: #fff;
  outline: none;
  background-color: #ff5528;
  cursor: pointer;
}
